RewriteEngine On

  # RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit.*|Twitterbot|Pinterest|Google.*snippet|Facebot|facebookexternalhit/1.1 (+http://www.facebook.com/externalhit_uatext.php))
  # RewriteRule c/(\d*)$ http://curatedcontrols.com/static-page.php?id=$1 [P]

  RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit.*|Twitterbot|Pinterest|Google.*snippet|Facebot)
  RewriteRule ^c/(\w*) http://curatedcontrols.com/static-page.php?id=$1 [P]

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^ /index.html
