<!DOCTYPE html>
<html lang="sv" ng-app="curatedcontrols.admin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Curated Controls - Hand picked, open source controls for iOS</title>

    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/flat-ui.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.6.0.min.js"></script>
    <script src="markdown.min.js"></script>

    <script src="app/app.js"></script>

    <script src="app/github/github.service.js"></script>
    <script src="app/github/github.controller.js"></script>

    <script src="app/data.service.js"></script>

    <script src="app/new/new.controller.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="text-center">
          <span class="label label-danger">ADMIN</span>
        </div>
        <div class="col-xs-12 text-center">
          <h2>Curated Controls</h2>
        </div>
      </div>
      <div class="row text-center" ng-controller="GitHubController as githubCtrl">
        <div class="col-xs-6">
          <h4>Fetched from GitHub</h4>
          <h6 class="text-primary">LICENSE:</h6>
          <div>
            <textarea class="license">{{ githubCtrl.license }}</textarea>
          </div>
          <h6 class="text-primary">README:</h6>
          <div style="text-align: left" ng-bind-html="githubCtrl.readme">
          </div>
        </div>
        <div class="col-xs-6" ng-controller="NewController as newCtrl">
          <div class="col-xs-6">
            <h4>Input control <span ng-class="{ 'text-success':newCtrl.ready, 'text-danger':!newCtrl.ready }">●</span></h4>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-default" type="button" ng-click="newCtrl.reset()">Reset</button>
          </div>
          <form class="" role="form">
            <div class="row">
              <div class="col-xs-12">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="newCtrl.controlLink" placeholder="Link">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="newCtrl.fetch(newCtrl.controlLink)">Fetch</button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="newCtrl.controlName" placeholder="Name">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="newCtrl.controlAuthor" placeholder="Author">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <textarea class="form-control" ng-model="newCtrl.controlDesc" placeholder="Description"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <select data-toggle="select" class="form-control" ng-model="newCtrl.controlLicense">
                  <option ng-repeat="license in newCtrl.licenses">{{ license.get('name') }}</option>
                </select>
              </div>
              <div class="col-xs-6">
                <select data-toggle="select" class="form-control" ng-model="newCtrl.controlLang">
                  <option ng-repeat="language in newCtrl.languages">{{ language.get('name') }}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <input type="text" class="tagsinput form-control" id="tags" name="tagsinput"/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <a href ng-repeat="tag in newCtrl.allTags" ng-click="newCtrl.selectTag(tag)" class="label label-default">{{ tag.get('name') }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <label for="previewupload" class="col-lg-2 control-label">STILLS</label>
                <input type="file" id="previewupload" multiple>
              </div>
              <div class="col-xs-6">
                <label for="gifupload" class="col-lg-2 control-label">GIFS</label>
                <input type="file" id="gifupload" multiple>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-primary btn-block" ng-click="newCtrl.send()">Skicka in</button>
            </div>
          </form>
          <div class="error">
          </div>
          <div>
            <h6>New tag</h6>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="newTag" placeholder="Tag">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="newCtrl.newTag(newTag)">Add</button>
              </span>
            </div>
          </div>
          <div>
            <h6>New license</h6>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="newLicense" placeholder="License">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="newCtrl.newLicense(newLicense)">Add</button>
              </span>
            </div>
          </div>
          <div>
            <h6>New language</h6>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="newLanguage" placeholder="License">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="newCtrl.newLanguage(newLanguage)">Add</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../assets/js/flat-ui.min.js"></script>
  </body>
</html>
