<div class="row">
<div class="row">
  <div class="col-xs-8 col-xs-offset-2 menu" ng-controller="SettingsController as settingsCtrl">
    <div class="row search">
      <input type="text" class="form-control search" placeholder="Search controls..">
    </div>
    <div class="row tags">
      <span class="tag label label-default" ng-repeat="tag in settingsCtrl.tags | orderBy:tag" ng-click="settingsCtrl.toggleTag(tag)" ng-class="{ selected:settingsCtrl.tagIsSelected(tag) }">{{ tag }}</span>
    </div>
    <div class="row options">
      <a class="btn btn-primary btn-sm btn-embossed pull-left" href ng-click="settingsCtrl.clearTags()">Clear tags</a>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a href class="btn btn-sm btn-primary" ng-class="{ active:!settingsCtrl.styleList }" ng-click="settingsCtrl.setStyleGrid()"><i class="fa fa-th"></i></a>
          <a href class="btn btn-sm btn-primary" ng-class="{ active:settingsCtrl.styleList }" ng-click="settingsCtrl.setStyleList()"><i class="fa fa-list"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row control-container" ng-controller="ControlController as controlCtrl">
  <div class="cols" ng-hide="controlCtrl.styleList">
    <div class="tile" dir-paginate="control in filteredControls = (controlCtrl.controls | filter:controlCtrl.tags | itemsPerPage:controlCtrl.itemsPerPage)">
        <div class="tile-title">
          <a href="#/c/{{ control.objectId }}/{{ control.name }}">
            {{ control.name }}
          </a>
        </div>
        <div class="tile-body">
          <div class="row images">
            <div class="col-xs-10 col-xs-offset-1">
              <flex-slider slide="image in control.images track by $index" animation="slide" slideshow=false prev-text="" next-text="">
                <li>
                  <img ng-src="{{ image.url }}" class="img-responsive img-rounded">
                </li>
              </flex-slider>
            </div>
          </div>
          <div class="row tile-description">
            {{ control.description }}
          </div>
          <div class="row tile-tags">
            <div class="col-xs-12">
              <span class="label label-default" ng-repeat="tag in control.tags">{{ tag }}</span>
            </div>
          </div>
        </div>
        <div class="tile-footer">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-xs btn-default" href="{{ control.link }}"><i class="fa fa-2x fa-github"></i></a>
            <a class="btn btn-xs btn-default" href="#/c/{{ control.objectId }}/{{ control.name }}"><strong>More</strong></a>
          </div>
        </div>
    </div>
  </div>
  <div class="row" ng-show="controlCtrl.styleList">
    <div class="col-xs-10 col-xs-offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Source</th>
            <th>Info</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="control in filteredControls = (controlCtrl.controls | filter:controlCtrl.tags | itemsPerPage:controlCtrl.itemsPerPage)">
            <td><a href="#/c/{{ control.objectId }}/{{ control.name }}">{{ control.name }}</td>
            <td>{{ control.description }}</td>
            <td><span class="label label-default" ng-repeat="tag in control.tags">{{ tag }}</span></td>
            <td class="text-center"><a href="{{ control.link }}"><i class="fa fa-2x fa-github"></i></a></td>
            <td class="text-center"><a href="#/c/{{ control.objectId }}/{{ control.name }}">More</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <dir-pagination-controls template-url="app/control/dirPagination.tpl.html" class="text-center"></dir-pagination-controls>
  </div>
  <div class="message" ng-show="!filteredControls.length">
    <div class="col-xs-12 text-center">
      <h4>{{ controlCtrl.msg }}</h4>
    </div>
  </div>
</div>
