<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2 menu" ng-controller="Settings as vm">
    <div class="row search">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchString" placeholder="Search controls..">
          <span class="input-group-btn">
            <button class="btn btn-default btn-embossed" type="submit" ng-click="vm.setSearch(searchString)">Search</button>
          </span>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="tags col-xs-12 col-md-8">
        <span class="tag label label-default" ng-repeat="tag in vm.tags | orderBy:tag" ng-click="vm.toggleTag(tag)" ng-class="{ selected:vm.tagIsSelected(tag) }">{{ tag.get('name') }}</span>
      </div>
      <div class="options col-xs-12 col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="btn-toolbar">
              <div class="btn-group btn-group-justified">
                <a href class="btn btn-sm btn-primary btn-embossed" ng-repeat="lang in vm.languages" ng-click="vm.setLanguage(lang)" ng-class="{ active:vm.langIsSelected(lang) }">{{ lang.get('name') }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row settings-row">
          <div class="col-xs-6">
            <a class="btn btn-primary btn-sm btn-embossed btn-block" href ng-click="vm.clearTags()">Clear tags</a>
          </div>
          <div class="col-xs-6">
            <div class="btn-toolbar">
              <div class="btn-group btn-group-justified">
                <a href class="btn btn-sm btn-primary btn-embossed" ng-class="{ active:!vm.styleList }" ng-click="vm.setStyleGrid()"><i class="fa fa-th"></i></a>
                <a href class="btn btn-sm btn-primary btn-embossed" ng-class="{ active:vm.styleList }" ng-click="vm.setStyleList()" disabled><i class="fa fa-th-large"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row feed-container" ng-controller="Feed as vm">
  <div class="section">
    <div class="row">
      <div class="tile col-xs-12 col-md-6 col-lg-4" dir-paginate="control in filteredControls = (vm.controls | itemsPerPage:vm.itemsPerPage | filter:vm.tags | filter:vm.search | filter:vm.langFilter | orderBy:vm.dateSort:true)">
        <img ng-show="vm.isNew(control)" src="content/img/ribbon-new.svg" alt="ribbon" class="tile-hot-ribbon">
        <div class="tile-title">
          <a href="/c/{{ control.id }}/{{ control.get('name') }}">
            {{ control.get('name') }}
          </a>
        </div>
        <div class="tile-body">
          <div class="row images">
            <div class="col-xs-12">
              <!--<flex-slider slide="image in control.get('previews') track by $index" animation="slide" slideshow=false prev-text="" next-text="">
                <li>
                  <img ng-src="{{ image._url }}" class="img-responsive img-rounded">
                </li>
              </flex-slider>-->
            </div>
          </div>
        </div>
        <div class="row tile-description">
          {{ control.get('description') }}
        </div>
        <div class="row tile-tags">
          <div class="col-xs-12">
            <span class="label label-default" ng-repeat="tag in control.get('tags')">{{ tag.get('name') }}</span>
          </div>
        </div>
        <div class="tile-footer">
          <div class="btn-group btn-group-justified">
            <a class="btn btn-xs btn-default btn-embossed" href="{{ control.get('link') }}"><i class="fa fa-2x fa-github"></i></a>
            <a class="btn btn-xs btn-default btn-embossed" href="/c/{{ control.id }}/{{ control.get('name') }}"><strong>More</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message" ng-show="!filteredControls.length">
    <div class="col-xs-12 text-center">
      <h4>{{ vm.msg }}</h4>
    </div>
  </div>
  <div class="row">
    <dir-pagination-controls template-url="app/layout/dirPagination.tpl.html" class="text-center"></dir-pagination-controls>
  </div>
</div>
