.search,
.tags,
.options {
  margin: 0;
  margin-top: 0.6em;
}

.control-container {
  margin: 0;
  margin-top: 1.2em;
}

.label {
  margin: 2px;
}

.tag {
  transition-property: background;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.selected {
  background-color: #5cb85c;
}

.tag:hover {
  cursor: pointer;
  background-color: #5cb85c;
}

.tile {
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
}

.tile-title {
  padding-bottom: 0.5em;
}

.tile-description {
  padding: 0.8em;
  font-size: 0.95em;
}

.tile-tags {
  margin: 0;
  margin-bottom: 1em;
}

a {
  color: inherit;
}

.cols {
    -moz-column-count:3;
    -moz-column-gap: 2%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 2%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 2%;
    column-width: 30%;
}

.btn-default:hover {
  background-color: #1abc9c;
}

.topright {
  position: fixed;
  top: 1em;
  right: 1.5em;
}

.single-control-description,
.single-control-images {
  margin-top: 2em;
}
.single-control-title {
  margin-top: 0;
  padding-top: 0;
}
.single-control-report {
  margin-top: 3em;
  margin-bottom: 3em;
}

.help-content {
  margin-top: 2em;
}

.back-button {
  position: fixed;
  left: 1em;
  top: 1em;
}

.footer {
  margin: 2em;
}

#beta {
  margin-top: 2em;
}

.flexslider {
	background:none !important;
	border:none !important;
}

.modal-flat {
  width: 100%;
  margin: 0;
}

.modal-content-flat {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

/* * * * * * * * * * *
 *                   *
 *    ANIMATIONS     *
 *                   *
 * * * * * * * * * * */
/*.tile,
.tile.ng-move,
.tile.ng-enter,
.tile.ng-leave {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.tile.ng-leave.ng-leave-active,
.tile.ng-move,
.tile.ng-enter {
  opacity:0;
}

.tile.ng-leave,
.tile.ng-move.ng-move-active,
.tile.ng-enter.ng-enter-active {
  opacity:1;
}

.message,
.message.ng-show,
.message.ng-hide {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}*/

.modal.fade .modal-dialog {
    top: -150px;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.modal.fade.in .modal-dialog {
    opacity: 1;
    -webkit-transform: translate3d(0, 150px, 0);
    transform: translate3d(0, 150px, 0);
}

.message.ng-show {
  opacity:0;
}

.message.ng-hide {
  opacity:1;
}
