<ul class="pagination-plain" ng-if="1 < pages.length">
  <li class="previous" ng-if="boundaryLinks">
    <a href="" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(1)">&lsaquo;</a>
  </li>
  <li class="previous" ng-if="directionLinks">
      <a href="" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)">← Previous</a>
  </li>
  <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber }">
    <a href="" ng-class="{ disabled : pageNumber == '...' }" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
  </li>
  <li class="next" ng-if="directionLinks">
    <a href="" ng-class="{ disabled: pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)">Next →</a>
  </li>
  <li class="next" ng-if="boundaryLinks">
      <a href="" ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.last)">&lsaquo;</a>
  </li>
</ul>
